.actionButton {
	cursor: pointer;
}

.table {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.formFields {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
}
