ul {
    list-style: none;
}

body, section, nav, ul, h1, h2, h3, h4, h5, h6, p {
    margin: unset;
    padding: unset;
    box-sizing: border-box;
}

input {
    line-height: unset;
}

* {
    box-sizing: border-box;
}

h1 {
    font-weight: 700;
    font-size: 2rem;

}

