:root {
    --color-medium-light: #BFDBFE;
    --color-light: #E0F2FE;
    --color-meduim: #A7C7E7;
    --color-main: #789FCB;
    --color-dark: #516AA8;
    --color-active: #5DB9A0;
    --color-green-light: #D9EEDF;
    --color-black-text: #333333;
    --color-container: #FFFFFF;
    --color-error: #D32121;
    --color-error-button-outlined-hover: #feefef;
    
    --color-button-outlined-hover: #CAE7FB;
}