.testingPage {
	display: flex;
	gap: 1.5rem;
	flex-grow: 1;
	overflow: hidden;
}

.outlet {
	flex-grow: 1;
}

.page {
	height: 100%;
}

.formFields {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
}
