#navigation {
  width: 100%;
  background-color: var(--color-dark);
  padding: 1rem 2rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.navigationList {
  display: flex;
}

.linksIconContainer {
	display: flex;
	align-items: center;
	gap: 7rem;
}

.linksContainer {
	display: flex;
	gap: 2rem;
}


.navLink {
	font-size: 1.25rem;
	font-weight: 700;

	&:hover {
		color: unset;
		text-decoration: underline 2px; 
	}
}

.active {
	color: var(--color-active);
	&:hover {
		color: var(--color-active);
	}
}