#navigation {
  width: 100%;
  background-color: var(--color-dark);
	color: var(--color-light);
  padding: 1rem 2rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.navigationList {
  display: flex;
}

.linksIconContainer {
	display: flex;
	align-items: center;
	gap: 7rem;
}

.linksContainer {
	display: flex;
	gap: 2rem;
}


.navLink {
	font-size: 1.25rem;
	font-weight: 700;

	&:hover {
		color: unset;
		text-decoration: underline 2px; 
	}
}

.active {
	color: var(--color-active);
	&:hover {
		color: var(--color-active);
	}
}

.userMenu {
	display: flex;
	gap: .5rem;
	align-items: center;
	cursor: pointer;
	
	i {
		transition: color .1s linear;
	}

	.avatar {
		transition: background-color .1s linear;
	}
	
	&:hover {
		i {
			color: var(--color-light);
		}
		.avatar {
			background-color: var(--color-light);
		}
	}
}

.avatar {
	color: var(--color-main);
}

.disabled {
	opacity: 0.6;
	pointer-events: none;
}